.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Nav {
  background-color: #282c34;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  color: white;
  margin-bottom: 20px;
}
.center{
  margin:0 auto;
}
.Flex-row {
  display: flex;
  flex-direction: row;
}
.fc {
  display: flex;
  flex-direction: column;
}
.jcse{justify-content: space-evenly;}
.w80{width: 80%;}
.w10{width:10%;}
.w90{width:90%;}
.mw385{max-width:385px;}
.jcs{justify-content: start;}
.aic{align-items: center;}
.if {display: inline-flex;}
.ml10px {margin-left: 10px;}
.tl{text-align: left;} 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media screen and (max-width: 400px){
  .m10 {margin: 0 10px}
}